* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: visible;
}

body {
    background-color: rgb(26, 36, 45);
}

body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(28, 43, 56);
    cursor: default;
    border-radius: 10px;
}
body::-webkit-scrollbar-track {
    background-color: rgb(75, 88, 98);
    border-radius: 10px;
}

.add-post-btn a {
    position: fixed;
    background-color: rgb(49, 91, 117);
    bottom: 5%;
    right: 3%;
    border-radius: 30px;
    width: 70px;
    height: 70px;
    font-size: 50px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
    cursor: pointer;
}

.add-post-btn a::before {
    content: "+";
    position: absolute;
    right: 20px;
    font-family: OCR-A;
}

.add-post-btn a:hover {
    width: 300px;
    border-radius: 30px;
    transition-delay: 0.5s;
    z-index: 5;
}

.add-post-btn span {
    visibility: hidden;
    opacity: 0;
    white-space: nowrap;
    transition: 0.25s;
    margin-left: 10px;
    font-family: OCR-A;
    letter-spacing: -3px;
}

.add-post-btn a:hover span{
    visibility: visible;
    opacity: 1;
    transition-delay: 0.75s;
}




/* The entire add post popup */
.add-post-popup {
    position: fixed;
    padding: 30px;
    width: 60%;
    height: 80%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    transform: translate(-50%, -50%);
    display: none;
    justify-content: center;
    background-color: rgb(11, 26, 38);
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    z-index: 3;
}

.post-popup-header {
    background-color: rgb(14, 39, 55);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* This is for Add Post text */
.post-popup-header h2 {
    font-size: 40px;
    color: white;
    text-align: center;
}

.icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: rgb(34, 51, 64);
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 3;
}

.add-post-form {
    margin-top: 14%;
}

.input-label {
    margin-top: 30px;
}

.input-label label {
    font-size: 30px;
    color: white;
    font-weight: 500;
}

.input-title input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 25px;
    margin-top: 30px;
    color: white;
    padding: 0 35px 0 5px;
    margin-bottom: 20px;
    border-bottom: 3px solid white;
}

.input-desc textarea {
    width: 100%;
    height: 130px;
    background-color: rgb(11, 26, 38);
    resize: none;
    border: none;
    border: 3px solid white;
    outline: none;
    margin-top: 10px;
    font-size: 20px;
    color: white;
    padding: 0 35px 0 5px;
    border-radius: 6px;
}

.input-desc textarea::-webkit-scrollbar {
    width: 10px;
}

.input-desc textarea::-webkit-scrollbar-thumb {
    background-color: rgb(28, 43, 56);
    cursor: default;
    border-radius: 10px;
}

.input-desc textarea::-webkit-scrollbar-track {
    background-color: rgb(75, 88, 98);
    border-radius: 10px;
}

.post-btn {
    background-color: rgb(13, 41, 59);
    color: white;
    border-style: solid;
    border-radius: 10px;
    width: 100px;
    height: 60px;
    font-size: 30px;
    font-family: OCR-A;
    letter-spacing: -3px;
    margin-top: 30px;
    transition: .3s ease-out;
    transition-delay: 0.1s;
}

.post-btn:hover {
    background-color: rgb(49, 91, 117);
    transform: scale(0.9);
}

.post-btn-container {
    display: flex;
    justify-content:end;
}

.show-posts {
    left: 15%;
    /* top: 15%; */
    width: 65%;
    z-index: 2;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    position: relative;
}


.show-individual-posts{
    background-color: rgb(13, 41, 59);
    /* transform: translate(-50%, -50%); */
    position: inherit;
    object-fit: contain;
    border-radius: 10px;
    margin-top: 30px;
    /* height: min-content; */
    overflow-x: hidden;
    /* object-fit: contain; */
}

.show-profile-on-post {
    display: flex;
}

.show-profile-on-post img {
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
    top: 6px;
    left: 6px;
    margin-bottom: 20px;
}

.show-profile-on-post h4 {
    top: 16px;
    position: relative;
    color: white;
    left: 10px;
}

.show-post-title {
    display: block;
    color: rgb(255, 255, 255);
    justify-content:flex-start;
    align-items: flex-start;
    margin: 10px;
    font-size: 23px;
    word-wrap: break-word;
    /* position: absolute; */
    /* overflow-x: hidden; */
}

.show-post-description {
    display: block;
    word-wrap: break-word;
    position: inherit;
    /* justify-content: baseline; */
    /* position:relative; */
    /* flex-direction: row; */
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    /* overflow-x: hidden; */
    /* object-fit: contain; */
}

.show-post-description h3{
    color: rgb(255, 255, 255);
    font-size: 25px;
    word-wrap: break-word;
    position: inherit;
}

.like-dislike {
    display: flex;
    align-items: end;
    justify-content: end;
    margin-bottom: 20px;
    margin-top: 20px;
}

.like-dislike h3 {
    position: relative;
    display: block;
    color: white;
    margin: 0px 10px 0px 10px;
    top: 5px;
}

.fa-thumbs-up {
    scale: 1.5;
    display:block;
    color: white;
    margin: 0px 10px 0px 0px;
}

.fa-thumbs-down {
    scale: 1.5;
    display:block;
    color: white;
    margin: 0px 10px 0px 0px;
    position: relative;
    top: 6px;
}

.fa-comment {
    scale: 1.5;
    display:block;
    color: white;
    margin: 0px 20px 0px 0px;
    position: relative;
    top: 4px;
}

.fa-thumbs-down:hover, .fa-thumbs-up:hover, .fa-comment:hover {
    color: rgb(103, 117, 225);
    scale: 1.6;
}